<div class="form_field">

	<%= form_for(@shipping_cost, :url => {:contoller => "admin/shipping_costs", :action => :create}, :method => :post) do |f| %>
		<%= f.label :weight, "Peso (gramas)" %>
		<%= f.text_field :weight %>
		<%= f.label :price, "Preço" %>
		<%= f.text_field :price %>

		<div class="actions_wrapper">
			<div class="action_button">
				<%= f.submit "Inserir" %>
			</div>
		</div>
	<% end %>
	
</div>