<div class="detail order">
	
	<div class="label">Referência</div>
	<div class="value"><%= @order.reference %></div>
	<div class="label">Cliente</div>
	<div class="value"><%= @order.user.name %></div>
	<div class="label">Morada</div>
	<div class="value"><%= @order.address_line_1 %></div>
	<div class="label">Código Postal</div>
	<div class="value"><%= @order.zip_code %></div>
	<div class="label">Localidade</div>
	<div class="value"><%= @order.city %></div>
	<div class="label">Estado</div>
	<div class="value"><%= @order.order_actions.last.status unless @order.order_actions.last.nil? %></div>

	<table cellspacing="0" class="table">
		<tr class="table_row_header">
			<th class="left_table_column product">Produto</th>		
			<th class="quantity">Quantidade</th>
			<th class="right_table_column price">Preço</th>
		</tr>

		<% @order.order_items.each do |item| %>
			<tr class="table_row_item">		
				<td class="left_table_column name"><%= item.product.name %></td>			
				<td class="quantity"><%= item.quantity %></td>
				<td class="price"><%= number_to_currency(item.price, :unit => "€", format: "%n %u") %></td>
		    </tr>
		<% end %>

		<tr class="table_row_item">
			<td colspan="2" class="left_table_column">Portes de Envio</td>
			<td class="right_table_column price"><%= number_to_currency(@order.shipping_costs, :unit => "€", format: "%n %u") %></td>
		</tr>

		<% if @order.payment_method_id == 2 %>
			<tr class="table_row_item">
				<td colspan="2" class="left_table_column">Custos de Envio à Cobrança</td>
				<td class="right_table_column price"><%= number_to_currency(@order.charging_costs, :unit => "€", format: "%n %u") %></td>
			</tr>
		<% end %>

		<tr class="table_row_footer">
			<td colspan="2" class="left_table_column"></td>
			<td class="right_table_column price">
				<span class="total_label">Total</span>					
				<span class="total_value"><%= number_to_currency((@order.order_items.sum("price * quantity") + @order.shipping_costs + @order.charging_costs), :unit => "€", format: "%n %u") %></span>
			</td>
		</tr>
	</table>

	<div class="actions_wrapper">
		<% if !@order.next_order_action.nil? %>
			<div class="action_button"><%= button_to @order.next_order_action.action_name, {:controller => "admin/orders", :action => :add_order_action, order_action_id: @order.next_order_action.id}, :method => :post %></div>
		<% end %>
	</div>
</div>