<h1>Alterar Password</h1>

<%= render :partial => "shared/error_messages", :locals => { :object => @user }  %>

<div class="form_field">

	<%= form_for(@user, url: {:controller => :users, :action => :update_password}, :method => :put) do |f| %>

		<%= f.hidden_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<div class="actions_wrapper">
			<div class="action_button">
				<%= f.submit "Recuperar Password" %>
			</div>
		</div>

	<% end %>

</div>