<h1>Registo</h1>

<%= render :partial => "shared/error_messages", :locals => { :object => @user }  %>

<div class="form_field">

	<%= form_for(@user) do |f| %>
		
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<div class="actions_wrapper">
			<div class="action_button">
				<%= f.submit "Registar" %>
			</div>
		</div>

	<% end %>
	
</div>