<%= render :partial => "shared/error_messages", :locals => { :object => @user }  %>

<div class="formulario">	

	<%= form_for(@user) do |f| %>
		
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit "Registar", class: "btn_submit_formulario" %>

	<% end %>
	
</div>

<p>Utilizador Registado? <%= link_to "Login!", signin_path %></p>