<% if !user_is_signed_in? && exists_pending_cart? %>

	<h1>Finalizar Processo de Encomenda</h1>

	<div><%= render "shared/cart" %></div>

	<div class="cart_checkout_steps">
		<div class="cart_checkout_step current_step">Passo 1 de 2 - Registo / Login</div>
		<div class="cart_checkout_step">Passo 2 de 2 - Definir Local de Entrega da Encomenda</div>
		<div class="clear_both"></div>
	</div>

<% else %>
	<h1>Registo</h1>
<% end %>

<%= render :partial => "shared/error_messages", :locals => { :object => @user }  %>

<div class="form_field">

	<%= form_for(@user) do |f| %>
		
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<div class="actions_wrapper">
			<div class="action_button">
				<%= f.submit !user_is_signed_in? && exists_pending_cart? ? "Avançar" : "Registar" %>
			</div>
		</div>

	<% end %>
	
</div>

<div class="aditional_info">
	<p>
		<span class="highlight">Utilizador já Registado? <%= link_to "Faça aqui o seu Login!", signin_path %></span>
	</p>		
</div>