<div class="header_wrapper">	
	<a href="/"><img src="/images/layout/logo.png" border="0"></a>	
	<div class="user_area">
		<ul class="user_menu">
			<% if !current_cart.nil? %>
				<li><%= link_to "Carrinho de Compras", carts_path, class: "shopping_cart" %><span class="cart_items_count"><%= current_cart.cart_items.count %></span></li>
			<% end %>

			<% if user_is_signed_in? %>
				<li><%= link_to "Minhas Compras", orders_path %></li>
				<li><%= button_to "Logout", signout_path, :method => :delete %></li>				
			<% else %>
				<li><%= link_to "Registo" ,signup_path %></li>
				<li><%= link_to "Login", signin_path %></li>							
			<% end %>

			<li>
				<a href="http://www.facebook.com/douromemories" target="_blank"><img src="/images/general/facebook_logo.png" border="0" width="24" height="24" /></a>
			</li>							
		</ul>
	</div>
</div>