<%= render :partial => "shared/error_messages", :locals => { :object => @order }  %>

<div class="formulario">

	<%= form_for (@order) do |f| %>

		<%= f.label :address_line_1 %>
		<%= f.text_field :address_line_1 %>
		<%= f.text_field :address_line_2 %>

		<%= f.label :zip_code %>
		<%= f.text_field :zip_code %>

		<%= f.label :city %>
		<%= f.text_field :city %>

		<%= f.label :country %>
		<%= f.select :country, [["Portugal"], ["Europa"]] %>

		<%= f.label :payment_method %>
		<%= f.select :payment_method, [["Defina o método de pagamento"], ["Cartao de Credito"], ["Envio à Cobrança"]] %>

		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
		
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :card_type %>
		<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>

		<%= f.label :card_number %>
		<%= f.text_field :card_number %>

		<%= f.label :card_verification %>
		<%= f.text_field :card_verification %>

		<%= f.label :card_expiration_date %>
		<%= f.date_select :card_expiration_date, :start_year => Date.today.year, :end_year => (Date.today.year+10), :order => [:year, :month], :add_month_numbers => true %>

		<%= f.submit "Finalizar Compra", class: "btn_submit_formulario" %>

	<% end %>
</div>