<div class="formulario">


	<%= form_for (@order) do |f| %>

		<% if @order.errors.any? %>
		  <div>Ocorreram os seguintes erros:</div>
		  <ul>
	  		<% @order.errors.full_messages.each do |msg| %>
	    	<li><%= msg %></li>
	  		<% end %>
		  </ul>
		<% end %>


		<%= f.label :address_line_1, "Endereço" %>
		<%= f.text_field :address_line_1 %>
		<%= f.text_field :address_line_2 %>

		<%= f.label :zip_code, "Código Postal" %>
		<%= f.text_field :zip_code %>

		<%= f.label :city, "Cidade" %>
		<%= f.text_field :city %>

		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
		
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :card_type %>
		<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>

		<%= f.label :card_number %>
		<%= f.text_field :card_number %>

		<%= f.label :card_verification, "Card Verification Value (CVV)" %>
		<%= f.text_field :card_verification %>

		<%= f.label :card_expires_on %>
		<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>

		<%= f.submit "Finalizar Compra", class: "btn_submit_formulario" %>

	<% end %>
</div>