<h1>Finalizar Processo de Encomenda</h1>

<div><%= render "shared/cart" %></div>

<div class="cart_checkout_steps">
	<div class="cart_checkout_step">Passo 1 de 2 - Registo / Login <span style="font-size: 1.3em;">&#10003;</span></div>
	<div class="cart_checkout_step current_step">Passo 2 de 2 - Definir Local de Entrega da Encomenda</div>
	<div class="clear_both"></div>
</div>

<%= render :partial => "shared/error_messages", :locals => { :object => @order }  %>

<div class="form_field">

	<%= form_for (@order) do |f| %>

		<%= f.label :address_line_1 %>
		<%= f.text_field :address_line_1 %>

		<%= f.label :zip_code %>
		<%= f.text_field :zip_code %>

		<%= f.label :city %>
		<%= f.text_field :city %>

		<%= f.label :payment_method_id %>
		<%= f.select(:payment_method_id, PaymentMethod.all.collect {|pm| [ pm.name, pm.id ] }, {include_blank: 'Indique o Método de Pagamento que Pretende'}) %>

		<script type="text/javascript">
			total_with_shipping_costs = "<%= number_to_currency(current_cart.total_price, :unit => "€", format: "%n %u") %>";
			total_with_charge_costs = "<%= number_to_currency((current_cart.total_price + current_cart.total_charge_costs), :unit => "€", format: "%n %u") %>"

			function add_charge_costs() {
				$(".total_value").text(total_with_charge_costs);
				$(".charge_costs").show();
			}

			function remove_charge_costs() {
				$(".total_value").text(total_with_shipping_costs);
				$(".charge_costs").hide();
			}

			// tratamento inicial do método de pagamento seleccionado
			// (só se estiver seleccionado "à cobrança" [após validação por ex])
			$(function(){
				payment_method = $("#order_payment_method_id").val();

					if(payment_method == 2)
						add_charge_costs();
			});

			// tratar a alteração do método de pagamento seleccionado
			$(function(){
				$("#order_payment_method_id").change(function(){
					payment_method = $(this).val();

					if(payment_method == 2)
						add_charge_costs();
					else
						remove_charge_costs();
				});
			});
		</script>

<%
=begin %>

DESCOMENTAR SE ACEITAR PAGAMENTOS COM CARTAO DE CREDITO

		<%= f.label :country %>
		<%= f.select :country, [["Portugal"], ["Outro"]] %>		

		<%= f.label :first_name %>
		<%= f.text_field :first_name %>

		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :card_type %>
		<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {include_blank: 'Indique o Tipo de Cartão'} %>

		<%= f.label :card_number %>
		<%= f.text_field :card_number %>

		<%= f.label :card_expiration_date %>
		<%= f.date_select :card_expiration_date, :start_year => Date.today.year, :end_year => (Date.today.year+10), :order => [:year, :month], :add_month_numbers => true %>

		<%= f.label :card_verification %>
		<%= f.text_field :card_verification %>

DESCOMENTAR SE ACEITAR PAGAMENTOS COM CARTAO DE CREDITO

<%
=end %>		

		<div class="actions_wrapper">
			<div class="action_button">
				<%= f.submit "Finalizar Encomenda" %>
			</div>
		</div>

	<% end %>

</div>