<div class="form_field">

	<%= form_for(@product, :url => {:controller => "admin/products", :action => :update, :id => @product.id}, :method => :put) do |f| %>

		<%= f.label :name, "Nome" %>
		<%= f.text_field :name %>

		<%= f.label :abstract, "Resumo" %>
		<%= f.text_area :abstract, class: "tinymce" %>

		<%= f.label :description, "Descrição" %>
		<%= f.text_area :description, class: "tinymce" %>

		<%= f.label :price, "Preço" %>
		<%= f.text_field :price %>

		<%= f.label :weight, "Peso (gramas)" %>
		<%= f.text_field :weight %>

		<%= f.label :stock_count, "Número em Stock" %>
		<%= f.text_field :stock_count %>

		<%= f.label :thumbnail, "Thumbnail" %>
		<%= f.file_field :thumbnail %>

		<%= f.label :picture, "Imagem" %>
		<%= f.file_field :picture %>

		<%= f.label :priority_number, "Ordem" %>
		<%= f.text_field :priority_number %>

		<%= f.label :is_active, "Activo" %>
		<%= f.check_box :is_active %>

		<div class="actions_wrapper">
			<div class="action_button">
				<%= f.submit "Actualizar" %>
			</div>
		</div>

	<% end %>

</div>

<%= tinymce %>