<table>
	<tr>
		<th>Nome</th>
		<th>Preço</th>
		<th>Número em stock</th>
		<th>Activo</th>
		<th></th>
		<th></th>
	</tr>

	<% @products.each do |p| %>
		<tr>
			<td>
				<%= link_to p.name, {:controller => "admin/products", :action => :show, :id => p.id}, :method => :get %>
			</td>
			<td><%= p.price %></td>
			<td><%= p.stock_count %></td>
			<td><%= p.is_active %></td>
			<td><%= button_to "Editar", {:controller => "admin/products", :action => :edit, :id => p.id}, :method => :get %></td>
			<td><%= button_to "Apagar", {:controller => "admin/products", :action => :destroy, :id => p.id}, :method => :delete %></td>
		</tr>
	<% end %>
	
</table>

<div><%=button_to "Inserir", {:controller => "admin/products", :action => :new}, :method => :get %></div>