<div class="detail product">
	
	<div class="label">Nome</div>
	<div class="value"><%= @product.name %></div>
	<div class="label">Resumo</div>
	<div class="value"><%= raw @product.abstract %></div>
	<div class="label">Descrição</div>
	<div class="value"><%= raw @product.description %></div>
	<div class="label">Preço</div>
	<div class="value"><%= @product.price %></div>
	<div class="label">Peso (gramas)</div>
	<div class="value"><%= @product.weight %></div>
	<div class="label">Número em Stock</div>
	<div class="value"><%= @product.stock_count %></div>
	<div class="label">Thumbnail</div>
	<div class="value"><%= image_tag("/images/products/" + @product.thumbnail, :width => "100") unless @product.thumbnail.nil?  %></div>
	<div class="label">Imagem</div>
	<div class="value"><%= image_tag("/images/products/" + @product.picture, :width => "100") unless @product.picture.nil?  %></div>
	<div class="label">Ordem</div>
	<div class="value"><%= @product.priority_number %></div>
	<div class="label">Activo</div>
	<div class="value"><%= @product.is_active? ? "Sim" : "Não" %></div>

	<div class="actions_wrapper">
		<div class="action_button"><%= button_to "Editar", {:controller => "admin/products", :action => :edit, :id => @product.id}, :method => :get %></div>
		<div class="action_button"><%= button_to "Apagar", {:controller => "admin/products", :action => :destroy, :id => @product.id}, :method => :delete %></div>
	</div>
</div>