<div class="products">
	<ul>
		<% @products.each do |p| %>
			<li class="three_columns_content_wrapper">
				<h1><%= link_to p.name, p %></h1>			
				<div class="image"><%= link_to image_tag("/images/products/" + p.thumbnail, :width => "260"), p unless p.thumbnail.nil?  %></div>		
				<p><%= raw p.abstract %></p>				
				<div class="price_wrapper">
					<div class="price"><%= number_to_currency(p.price, :unit => "€", format: "%n %u") %></div>				
					<div class="price_extra_info">mais portes de envio</div>
					<div class="actions_wrapper">
						<div class="action_button">
							<%= button_to "Adicionar ao Carrinho", {:controller => :carts, :action => :add_to_cart, product_id: p.id}, :method => :post %>
						</div>
					</div>
				<div>
			</li>
		<% end %>
	</ul>
</div>