<style>
.product img {
	border: 1px dotted #fff;
}
</style>

<div class="product">
	<h1><%= link_to @product.name, p %></h1>				
	
	<div style="display: inline-block; width:300px; vertical-align: top; margin-right: 14px;">
		<div class="image"><%= image_tag("/images/products/" + @product.thumbnail, :width => "300") unless @product.thumbnail.nil?  %></div>			
		<div class="price_wrapper">
			<div class="price"><%= number_to_currency(@product.price, :unit => "€", format: "%n %u") %></div>				
			<div class="price_extra_info">mais portes de envio</div>
			<div class="actions_wrapper">
				<div class="action_button">
					<%= button_to "Adicionar ao Carrinho", {:controller => :carts, :action => :add_to_cart, product_id: @product.id}, :method => :post %>
				</div>
			</div>
		</div>
	</div>

	<div style="display: inline-block; width:520px; vertical-align: top;"><%= raw @product.description %></div>
</div>