<div class="product">
	<h1><%= @product.name %></h1>
	<p><%= raw @product.description %></p>
	<div class="price"><%= number_to_currency(@product.price, :unit => "€", format: "%n %u") %></div>

	<div class="actions_wrapper">
		<div class="action_button"><%= button_to "Adicionar ao Carrinho", {:controller => :carts, :action => :add_to_cart, product_id: @product.id}, :method => :post %></div>
	</div>
</div>

<% content_for :sidebar do %>
	<%= render "shared/cart" unless current_cart.nil? %>
<% end %>
