<!DOCTYPE html>
<html>
<head>
  <title>Aregos</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "products" %>
  <%= stylesheet_link_tag "carts" %>
  <%= stylesheet_link_tag "orders" %>
  <%= stylesheet_link_tag "partners" %>
  <%= stylesheet_link_tag "press_releases" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= csrf_meta_tags %>	
</head>
<body>
	<div class="site_wrapper">
		<div class="top_background">
			<div class="centered_wrapper">
				<%= render "shared/header" %>
			</div>
			<div class="centered_wrapper">
				<%= render "shared/main_menu" %>
			</div>
		</div>
		<div class="banner_background">
			<%= render "shared/banner" %>
		</div>
		<div class="centered_wrapper">
			<div class="content_wrapper">												
				<%= yield %>
				<div class="clear_both"></div>	
			</div>
		</div>
	</div>
	<%= render "shared/flash_notices" %>
</body>
</html>